<section id="customer-reviews" class="pb-5">
  <div class="container">
    <h1 class="section-title h1", style="color:#00d1b2">They trusted us</h1>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                  <%= image_tag("reviews/review1.jpg", alt: "review1", class: "img-fluid") %></p>
                  <h4 class="card-title">Anna C.</h4>
                  <p class="card-text">I've bought a pretty Ginger Cat in 2017 on Meowi,Inc. webshop and the delivery was extremely fast and efficient (under 72 hours). I love my cat and I strongly recommand Meowi,Inc. for their efficiency !</p>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                  <%= image_tag("reviews/review2.jpg", alt: "review2", class: "img-fluid") %></p>
                  <h4 class="card-title">Alyssa M.</h4>
                  <p class="card-text">Meowi,Inc. is a wonderful shop. Ruby, my little kitten is so gorgeous and cute. The delivery was pretty fast and my cat was well packed ! I've recommanded Meowi,Inc. at all my friends and they cannot stop to order new cats !</p>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                  <%= image_tag("reviews/review3.jpg", alt: "review3", class: "img-fluid") %></p>
                  <h4 class="card-title">Carmen D.</h4>
                  <p class="card-text">Meowi,Inc. is my favorite shop. I've ordered a little kitten called Python, he is so cute that i cannot live without him now. The price was awesome ! I definitely recommand Meowi,Inc, you should try and believe me, you will not be disappointed !</p>
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>  
  </div>
</div>    