<% content_for :title do %>
Kitten | My order
<% end %>
<% if current_user.id == @line_item.cart.user_id %>
<section>
<hr/>
<%= render(@line_item) %>
<div class="columns">
  <div class="column">
    <%= render :partial => 'charges/new' %>
  </div>
  <div class="column total">
    <h4>
      <span>Total :</span> <%= number_to_currency(@line_item.total_price)%>
    </h4>
  </div>
</section>
<% else %>
<%flash[:alert] = "Nope"%>
<% end %>
