<!-- Footer
============================================= -->
<footer id="footer" class="nobg noborder">

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights" class="nobg">

    <div class="container clearfix">

      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          Copyrights &copy; 2018 All Rights Reserved by Meowy, Inc.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
        </div>

        <div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
          <div class="copyrights-menu copyright-links clearfix">
            <a href="#">Home</a>/<a href="#">Shop</a>/<a href="#">About</a>/<a href="#">Contact</a>
          </div>
        </div>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->